<?xml version="1.0"?>
<!--
/**
 * Copyright © 2017 Ihor Vansach (ihor@magefan.com). All rights reserved.
 * See LICENSE.txt for license details (http://opensource.org/licenses/osl-3.0.php).
 *
 * Glory to Ukraine! Glory to the heroes!
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="khoaln_tab" translate="label" sortOrder="1000">
            <label>Khoaln</label>
        </tab>
        <section id="khoaln_contact2googlesheet" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <label>Contact To Google Sheeet</label>
            <tab>khoaln_tab</tab>
            <resource>Oro_GoogleSheetContact::config</resource>
            <group id="google_sheet_contact" translate="label" type="text" sortOrder="10" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>Service Account Credentials</label>
                <field id="credentials" translate="label" type="textarea" sortOrder="40" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Credentials</label>
                </field>
                <field id="contact_sheet_id" translate="label" type="text" sortOrder="60" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Contact Form Sheet ID</label>
                </field>
            </group>
        </section>
    </system>
</config>
